* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_container {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: blue; */
}
.heading {
  font-size: 2.5rem;
  color: black;
}
.input {
  outline: none;
  width: 50%;
  border: none;
  color: rgba(0, 0, 0, 0.673);
  height: 8vh;
  font-size: 1.3rem;
  border-bottom: 2px solid black;
  background: transparent;
  font-weight: 600;
}
.btn {
  margin-top: 10px;
  border: none;
  outline: none;
  width: 25vw;
  height: 6vh;
  background: blue;
  font-size: 20px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.msg {
  color: red;
  font-size: 13px;
  font-weight: 300;
}
.modal-heading {
  font-size: 25px;
  font-weight: 700;
  color: black;
  margin-left: 10px;
}
.closeBtn {
  width: 7vw;
  height: 5vh;
  outline: none;
  border: none;
  background: blue;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
.heading-background {
  display: flex;
  background-color: red;
  height: 8vh;
  border-radius: 8px;
  align-items: center;
}
.btn:disabled {
  background-color: rgba(0, 0, 255, 0.704);
  cursor: progress;
}
